/* ピンク色の装飾 */
.pink{
 color:rgb(255, 192, 203)  ;
 }

 /* スカイブルー色の装飾 */
.blue{
 color:skyblue;

}

/* divタグ内の太字 */
#basic{
 > p {font-weight: bold;}
 
}

/* ページ全体のデフォルトの文字サイズを20pxに */
html{
 font-size: 20px;
}

/* 標準フォントの指定 */
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

/* h1タグの装飾 */
h1{
  font-size:  2rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
  text-shadow: 3px 3px 3px rgb(115, 115, 114);
  
}

/* pタグの中央揃え */
p{
 text-align: center; 
}
